* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://fastly.picsum.photos/id/6/1600/900.jpg?hmac=kxnvfshUVmhC60gh0i17Xa4V_P9Me30u_PD5BktNIvA");
  background-size: cover;
  display: flex; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  font-size: 50px;
  margin: 30px 0;
  gap: 30px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 50px;
  transition: opacity 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

#rock {
  background-color: #f44336;
}

#paper {
  background-color: #4caf50;
}

#scissors {
  background-color: #2196f3;
}

p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.your-score span {
  font-weight: bold;
  font-size: 30px;
  color: #0e0bcc;
}

.machine-score span {
  font-weight: bold;
  font-size: 30px;
  color: #af0d08;
}
